global:
  namespace: apigee
tenant:
  remote_service_api: $APIGEE_X_HOSTNAME/remote-service
  org_name: $APIGEE_X_ORG
  env_name: $APIGEE_X_ENV
products:
  refresh_rate: 2s
analytics:
  collection_interval: 10s
  credentials_json: $AX_SERVICE_ACCOUNT
  credentials: $TOKEN
auth:
  jwt_provider_key: $APIGEE_X_HOSTNAME/remote-token/token
  append_metadata_headers: true